*.lo
*.o
.dirstamp
.libs
/*.bak
/*.gcda
/*.gcno
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.dirstamp
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/TAGS
/autom4te.cache
/cc-tool
/compile
/config.cache
/config.h
/config.log
/config.lt
/config.status
/config.status.lineno
/configure.lineno
/libtool
/so_locations
/stamp-h1
/tags
_libs
